<h1>Student Form</h1>
<%= form_tag "/students" do %> 
  <%= label_tag(:first_name, "First Name:") %> 
  <%= text_field_tag(:first_name) %> 
  <%= label_tag(:last_name, "Last Name:") %> 
  <%= text_field_tag(:last_name) %> 
  <%= submit_tag("Create New Student") %> 
<% end %> 